@model BlogPostListModel
@using Nop.Web.Extensions;
@using Nop.Web.Models.Blogs;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Blog").Text);
}
@section left {
    @Html.Action("BlogMonths", "Blog")
    @Html.Action("BlogTags", "Blog")
}
<div class="page blog-page">
    <h4 class="no-margin font-spr color-grn">
        @if (String.IsNullOrEmpty(Model.PagingFilteringContext.Tag))
        {
            if (Model.PagingFilteringContext.GetParsedMonth().HasValue)
            {
                @String.Format(T("Blog.FilteredByMonth").Text, Model.PagingFilteringContext.GetParsedMonth().Value.Year, Model.PagingFilteringContext.GetParsedMonth().Value.ToString("MMMM"))
            }
            else
            {
                @T("Blog")
            }
        }
        else
        {
            @String.Format(T("Blog.TaggedWith").Text, Model.PagingFilteringContext.Tag)
        }
        <a href="@Url.RouteUrl("BlogRSS", new { languageId = Model.WorkingLanguageId })" class="link-rss pull-right" title="@T("Blog.RSS.Hint")">@T("Blog.RSS")</a>
        </h4>
    <div class="underline-dased margin-t5 clearfix">&nbsp;</div>
    <div class="page-body">
        @Html.Widget("bloglist_page_before_posts")
        <div class="blog-posts">
            @foreach (var item in Model.BlogPosts)
{
    <div class="post panel">
        <div class="panel-body">
            <div class="post-head">
                <a class="post-title  font16 bold color-grn" href="@Url.RouteUrl("BlogPost", new { SeName = item.SeName })">@item.Title</a>
                <span class="post-date font11">-@item.CreatedOn.ToString("D")</span>
            </div>
            <p class="post-body font12">
                @Html.Raw(item.Body)
            </p>
            @if (item.Tags.Count > 0)
            {
                <div class="tags ">
                    <label>@T("Blog.Tags"):</label>
                    <ul class="tags-nav no-padd">
                        @for (int i = 0; i < item.Tags.Count; i++)
                        {
                            var tag = item.Tags[i];
                            <li><a href="@Url.RouteUrl("BlogByTag", new { tag = tag })">@tag</a></li>
                            if (i != item.Tags.Count - 1)
                            {
                               // <li class="separator">,</li>
                            }
                        }
                    </ul>
                </div>
            }
            <div class="clearfix"></div>
            @if (item.AllowComments)
            {
                <div class="blog-details margin-t10">
                    <a href="@Url.RouteUrl("BlogPost", new { SeName = item.SeName })">
                        @string.Format(T("Blog.CommentsLink").Text, item.NumberOfComments)
                    </a>
                </div>
            }
            @Html.Widget("bloglist_page_inside_post", item.Id)
        </div>
    </div>
}
        </div>
        <div class="pager">
            @Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber")
        </div>
        @Html.Widget("bloglist_page_after_posts")
    </div>
</div>
