@{
    Layout = "";
}
@model ConfigurationModel
@using Nop.Plugin.Payments.Chinabank.Models;
@using Nop.Web.Framework;
@using (Html.BeginForm())
{
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Vmid):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Vmid)
                @Html.ValidationMessageFor(model => model.Vmid)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Key):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Key)
                @Html.ValidationMessageFor(model => model.Key)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AdditionalFee):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AdditionalFee)
                @Html.ValidationMessageFor(model => model.AdditionalFee)
            </td>
        </tr>
        <tr>
            <td colspan="2" width="100%">
                <button type="submit" name="save" value="save" class="t-button">
                    Save
                </button>
            </td>
        </tr>
    </table>

}