@model ChangePasswordModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsThree.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
}
@section left
{
    @Html.Partial("MyAccountNavigation", Model.NavigationModel, new ViewDataDictionary())
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="page account-page change-password-page panel panel-default">
        <div class="page-title panel-heading">
            <h4 class="no-margin color-grn font-sr bold">@T("Account.MyAccount") - @T("Account.ChangePassword")</h4>
        </div>
        <div class="page-body panel-body">

            <div class="message-error">
                @Html.ValidationSummary(true)
            </div>
            @if (!String.IsNullOrEmpty(Model.Result))
            {
                <div class="result">
                    @Model.Result
                </div>
            }
            <div class="fieldset">
                <div class="form-fields">
                    <div class="inputs row margin-b10">
                        @Html.LabelFor(model => model.OldPassword, new { @class = "col-sm-5 control-label" }, ":")
                        <div class="col-sm-7">
                            @Html.EditorFor(model => model.OldPassword, new { @class = "form-control" })
                            @Html.RequiredHint()
                            @Html.ValidationMessageFor(model => model.OldPassword)
                        </div>
                    </div>
                    <div class="inputs row margin-b10">
                        @Html.LabelFor(model => model.NewPassword, new { @class = "col-sm-5 control-label" }, ":")
                        <div class="col-sm-7">
                            @Html.EditorFor(model => model.NewPassword, new { @class = "form-control" })
                            @Html.RequiredHint()
                            @Html.ValidationMessageFor(model => model.NewPassword)
                        </div>
                        </div>
                    <div class="inputs row margin-b10">
                        @Html.LabelFor(model => model.ConfirmNewPassword, new { @class = "col-sm-5 control-label" }, ":")
                        <div class="col-sm-7">
                            @Html.EditorFor(model => model.ConfirmNewPassword, new { @class = "form-control" })
                            @Html.RequiredHint()
                            @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
                        </div>
                        </div>
                </div>
            </div>
            <div class="buttons row">
                <div class="col-sm-7 col-sm-offset-5">
                    <button type="submit" class="button-1 change-password-button btn no-br btn-success"><i class="fa fa-refresh"></i> @T("Account.ChangePassword.Button")</button>
                </div>
                </div>
        </div>
    </div>
}